body {
  background-color: olive;
}

h1 {
  background-color: blueviolet;
  padding: 50px 25px;
}

#indexOL {
  list-style: georgian;
}

.textStuff {
  text-align: center;
  margin: 10px 5px 15px 20px;
  border: 2px solid greenyellow;
}
